/.buildpath
/.project
/.settings
/.sonar
.idea
.scannerwork
admin/.cvsignore
admin/agencje/eksport.csv
admin/js/lib.min.js
admin/js/liczba_ofert.js
admin/js/lista_agencji.js
admin/js/lista_deweloperow.js
admin/js/lokalizacje.js
admin/js/lokalizacje_*.js
admin/migracja/gus.csv
admin/migracja/pf_kontakty.txt
admin/pliki/programDoEksportu/*
admin/translacjaslownikow/uploady
admin/webservice/log.txt
api/nportal/*
api/znajdzto/sitemap/*
/archiwum
conf/*_deweloper.inc
/coverage
dane/archiwumA3k/*
dane/archiwumREIO/*
dane/centralkaTelefony/*
dane/dokumentyKlientow/*
dane/cronMonitor/*
dane/faktury/*
dane/fakturyDuplikaty/*
dane/krd/*
dane/raporty/*
dane/plikiOferty/*
dane/zlecenia/*
dane/testMonitor/*
debug/*
log/*
lib/rozne/auth.inc.daniel
lib/rozne/liczebnosci_dzialow.php
lib/wspolpraca/domio.pl/cache_lokalizacje_transowane.php
www/data.txt
www/img/beezbeez/*.png
www/img/beezbeez/flags/*.png
www/img/beezbeez/partners/*.jpg
www/img/beezbeez/partners/*.png
www/img/bibliotekazdjec
www/img/cache
www/img/deweloperzy
www/img/domenywizualizacje
www/img/facebook/offer-view/*
!www/img/facebook/offer-view/.gitkeep
www/img/homeprofit/*
www/img/loga
www/img/logo
www/img/mailingi
www/img/ofertypracy
www/img/pracownicy/*
www/img/reklamy
www/img/sprite/sprite_ostatnio_dodane_*
www/img/stronaAgencji/banery/wlasne/*
www/img/teksty
www/img/uzytkownicy/*
www/img/zdjecia
www/img/znaki-wodne/*.*
www/pliki/*.tgz
www/pliki/eBezposrednioOstatnieWyroznione*.html
www/pliki/eksportGratkaWWWstare.zip
www/pliki/helpdesk
www/pliki/migracja
www/pliki/oferty_*.zip
www/pliki/ostatnieWyroznioneOferty*.html
www/pliki/ostatnioDodane.xml
www/pliki/ostatnioDodane1
www/pliki/ostatnioDodaneZgloszenia*.html
www/pliki/property
www/pliki/rad
www/pliki/tmp/*
www/sitemap*.gz
www/smapstat*.gz
www/tipy_porady.xml
admin/krystian.php
admin/wandruszkiewicz.test.php
/krystian*
/debug/
/vendor
/admin/wgorski.php
var/logs/*
var/cache/*
var/tmp/*
var/phpunit-report
app/bootstrap.php.cache
var/bootstrap.php.cache
/var/tmp/*
/var/tmp1/*
/var/tmp2/*
bin/doctrine/doctrine_re_db
node_modules/*
.env
.env.backup.*
docker/dev/files/certs/*
render-sonar-report.php
src/Application/GoogleApi/Keys/token_allegro_requirements.json 